@page "/testscoreinfo/{studentId}"
@inject ITestScoreService testScoreService
@inject IStudentService studentService

<div class="col-10">
    <h3><b>@studentId-@student.name's Score</b></h3>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Student</th>
                <th>Subject</th>
                <th>Score</th>
                <th>Semester</th>
                <th>Etc..</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _score in testScoreList)
            {
                <tr>
                    <td>@_score.scoreId</td>
                    <td>@_score.studentId</td>
                    <td>@Enum.GetName(_score.subjectId)</td>
                    <td>@_score.score</td>
                    <td>@_score.semester</td>
                    <td> <button class="btn btn-primary" @onclick="() => RemoveTestScore(_score.scoreId)">Remove</button> </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@code {
    [Parameter]
    public string studentId {get; set;}
    public Student student {get; set;}
    public List<TestScore> testScoreList {get; set;}
    protected override void OnInitialized()
    {
        testScoreList = testScoreService.GetScores();
        student = studentService.GetStudentById(studentId);
    }
    private void RemoveTestScore(string id){
        testScoreService.RemoveTestScoreById(id);
    }
    
}
